<h1><%= @doctor.name%></h1>
<p>Address: <%= @doctor.address %> </p>
<p>City: <%= @doctor.city %> </p>
<p>State: <%= @doctor.state %> </p>
<p>Zip: <%= @doctor.zipcode %> </p>
<p>School Received Degree From: <%= @doctor.school_received_degree_from %> </p>
<p>Years in practice: <%= @doctor.years %> </p>
